<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>CatMCP</string>
	<key>CFBundleExecutable</key>
	<string>CatMCPCC</string>
	<key>CFBundleIdentifier</key>
	<string>com.ratush.catmcpcc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CatMCP</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>ModuleSize</key>
	<dict>
		<key>columns</key>
		<string>1</string>
		<key>rows</key>
		<string>1</string>
	</dict>
	<key>NSPrincipalClass</key>
	<string>CatMCPCC</string>
	<key>SBIconVisibilityDefaultVisible</key>
	<true/>
	<key>CCUIModuleType</key>
	<string>CCUIBaseModuleTypeToggle</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
