Package: com.ratush.offloaderruntimefix
Name: Offloader Runtime Build Artifact
Version: 0.0.1
Architecture: iphoneos-arm
Description: Build artifact for Offloader iOS 17 runtime fixes.
Maintainer: RATU
Author: RATU
Section: Development
Depends: mobilesubstrate
