{ CFBundleDevelopmentRegion = en; CFBundleExecutable = OffloaderPrefs; CFBundleIdentifier = "com.level3tjg.offloaderprefs"; CFBundleInfoDictionaryVersion = "6.0"; CFBundleName = OffloaderPrefs; CFBundlePackageType = BNDL; CFBundleShortVersionString = "1.0.2"; CFBundleVersion = "1.0.2"; NSPrincipalClass = OffRootListController; }
