<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict><key>CFBundleIdentifier</key><string>com.ratush.daemonpresets.cc</string><key>CFBundleName</key><string>RatuDaemonCC</string><key>CFBundleDisplayName</key><string>Демоны iOS</string><key>CFBundleExecutable</key><string>RatuDaemonCC</string><key>CFBundlePackageType</key><string>BNDL</string><key>NSPrincipalClass</key><string>RPModule</string><key>CCUIModuleType</key><string>CCUIToggleModule</string><key>SBIconVisibilityDefaultVisible</key><true/><key>ModuleSize</key><dict><key>width</key><integer>1</integer><key>height</key><integer>1</integer></dict></dict></plist>
