<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict><key>CFBundleIdentifier</key><string>com.ratush.daemonpresets.cc</string><key>CFBundleName</key><string>RatuDaemonCC</string><key>CFBundleDisplayName</key><string>Демоны iOS</string><key>CFBundleExecutable</key><string>RatuDaemonCC</string><key>CFBundlePackageType</key><string>BNDL</string><key>NSPrincipalClass</key><string>RPModule</string><key>CFBundleSupportedPlatforms</key><array><string>iPhoneOS</string></array><key>UIDeviceFamily</key><array><integer>1</integer><integer>2</integer></array><key>MinimumOSVersion</key><string>15.0</string><key>CCUIModuleType</key><string>CCUIBaseModuleTypeToggle</string><key>SBIconVisibilityDefaultVisible</key><true/><key>ModuleSize</key><dict><key>columns</key><integer>1</integer><key>rows</key><integer>1</integer></dict></dict></plist>
